*{
  margin:0;
  padding: 0;
}
.exampleapp--wrapper{
  width: 1200px;
  margin: 120px auto;
}

.makeFlex{
  display: flex;
}
.makeFlex.spaceBetween{
  justify-content: space-between;
}
.makeFlex.hrtlCenter{
  justify-content: center;
}
.makeFlex.perfectCenter{
  justify-content: center;
  align-items: center;
}

.appendRight20{
  margin-right: 20px;
}
.appendLeft20{
  margin-left: 20px;
}
.appendBottom20{
  margin-bottom: 20px;
}
.appendTop20{
  margin-bottom: 20px;
}
.makeFlex.flexColumn{
  flex-direction: column;
}
.section__item{
  width: 100%;
  min-height: 350px;
  padding: 20px 0;
}
.section__item:not(:last-of-type){
  border-bottom: 1px solid #ccc;
}
.btn{
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px 20px;
  min-width: 100px;
  background: none;
  outline: 0;
  cursor: pointer;
}
